<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andriy.openeyes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBfrWT88oSCtRiLIcEPERZ2hk8DryYhKEM" />

        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListPlace"
            android:label="@string/title_activity_list_place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewComfotablePlace"
            android:label="@string/title_activity_add_new_comfotable_place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_login_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationPage"
            android:label="@string/title_activity_registration_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InformationComfortablePlace"
            android:label="@string/title_activity_information_comfortable_place"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TabFragment1" />
        <activity android:name=".TabFragment2" />
        <activity
            android:name=".ListPlaceMap"
            android:label="@string/title_activity_list_place_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddPositionPlace" />
        <activity
            android:name=".ListComfortablePlace"
            android:label="@string/title_activity_list_comfortable_place"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>